/* Fonts ------------------------------------------------------------------- */
/* main body text */
body {
  font-family: "Arial", sans-serif;
  font-size: 19px;
  margin-bottom: 20px;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 19px;
  margin-bottom: 20px;
}

/* heading text */
.govuk-header__link--service-name {
  font-size: 24px;
  font-size: 30px;
  line-height: 1.25;
}

.h1,
h1 {
  font-family: "Arial", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 0;
  margin-bottom: 30px;
}

.h2,
h2 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 20px;
  margin-bottom: 20px;
}

.h3,
h3 {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.0416666667;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* feedback banner */
.govuk-phase-banner__content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
}

/* Link text styling ------------------------------------------------------- */
a {
  font-family: "Arial", sans-serif;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  word-break: break-word;
  background-color: transparent;
}

a:visited {
  color: #4C2C92;
}

a:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

/* GOV.UK containers ------------------------------------------------------- */
.govuk-width-container {
  width: 100% !important;
  max-width: 100% !important;
}

/* This line sets the main area width. Originally set to 66.667% in the GDS 
template. 80% works well here to reduce white space on the right hand side.*/
.col-sm-8 {
  width: 80%
}

.container-fluid {
  padding: 0px;
}

.row {
  margin-right: 0px;
}

/* GOV.UK cookies ---------------------------------------------------------- */
.govuk-cookie-banner {
  padding: 6px 6px 6px 6px;
}

/* GOV.UK header CSS ------------------------------------------------------- */
.govuk-header__content,
.govuk-header__logo {
  box-sizing: border-box
}

.govuk-header__logo {
  margin-bottom: 10px;
  padding-right: 50px
}

@media (min-width:40.0625em) {
  .govuk-header__logo {
    margin-bottom: 10px
  }
}

@media (min-width:48.0625em) {
  .govuk-header__logo {
    width: 15% !important;
    margin-left: 15px !important;
    padding-right: 15px !important;
    float: left !important;
    vertical-align: top !important;
  }
}

@media (min-width:48.0625em) {
  .govuk-header__content {
    width: 64% !important;
    text-align: center !important;
    padding-left: 15px !important;
    float: left !important;
    vertical-align: top !important;
  }
}

/* GOV.UK footer ----------------------------------------------------------- */
/* footer padding */
.govuk-footer {
  padding-right: 50px;
  padding-left: 50px;
}

/* This makes it look like the footer extends on shorter pages  */
html {
  background-color: #f3f2f1;
}

/* Left nav tabs styling --------------------------------------------------- */

.nav-stacked>li>a {
  text-decoration: none; /* Remove underlining */
  color: #000;
}

.nav-stacked>li>a:focus {
  background-color: #fd0;
  box-shadow: 0 0px #fd0, 0 4px #1d70b8;
}

.nav-stacked>li>a:hover {
  color: #000;
  font-weight: bold;
  background-color: #b1b4b6;
}

.nav-pills>li.active>a {
  color: #ffffff;
  background-color: #1d70b8;
  box-shadow: 0 0px #b1b4b6, 0 4px #1d70b8;
}

.nav-pills>li.active>a:focus {
  color: #000;
  background-color: #fd0;
  box-shadow: 0 0px #b1b4b6, 0 4px #1d70b8;
}

/* Tabs layout styling ----------------------------------------------------- */
.nav-tabs>li>a {
  color: #000;
  text-decoration: none /* Remove underlining */
}

.nav-tabs>li>a:focus {
  background-color: #fd0 !important;
  box-shadow: 0 0px #fd0, 0 4px #1d70b8 !important;
}

.nav-tabs>li>a:hover {
  color: #000;
  font-weight: bold;
  background-color: #b1b4b6;
}

/* Well panel CSS used in user selections ---------------------------------- */
.well {
  min-height: 90vh;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #1d70b8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  color: #fff;
}

/* Ensure the dynamic-height class adjusts to fit its content */
.well.dynamic-height {
  min-height: auto !important; /* Override default min-height */
  height: auto !important;     /* Adjust height dynamically */
  display: block !important;   /* Ensure it wraps its content */
  padding: 15px;               /* Adjust padding for proper spacing */
  margin-bottom: 20px;
  background-color: #1d70b8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #fff;
}

/* Custom value boxes CSS -------------------------------------------------- */
/* Set the font sizes */
#vboxhead-small {
  text-align: left;
  font-weight: bold;
  font-size: 36px;
}

#vboxdetail-small {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

#vboxhead-medium {
  text-align: left;
  font-weight: bold;
  font-size: 42px;
}

#vboxdetail-medium {
  text-align: left;
  font-weight: bold;
  font-size: 26px;
}

#vboxhead-large {
  text-align: left;
  font-weight: bold;
  font-size: 56px;
}

#vboxdetail-large {
  text-align: left;
  font-weight: bold;
  font-size: 28px;
}

/* Set the colours for the value boxes */
.small-box.bg-purple {
  background-color: #801650 !important;
  color: #ffffff !important;
}

.small-box.bg-white {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.small-box.bg-blue {
  background-color: #1d70b8 !important;
  color: #ffffff !important;
}

.small-box.bg-orange {
  background-color: #F46A25 !important;
  color: #ffffff !important;
}

.small-box.bg-red {
  background-color: #f499be !important;
  color: #ffffff !important;
}

.small-box.bg-green {
  background-color: #00703c !important;
  color: #ffffff !important;
}

.small-box.bg-dark-blue {
  background-color: #12436D !important;
  color: #ffffff !important;
}

/* Set default reactable styles */
.reactable {
  font-size: 1rem !important;
  table-layout: fixed;
  width: 100% !important;
  word-break: keep-all; /* Prevents breaking words mid-word */
  white-space: normal; /* Allows line breaks between words */
}
.bar-sort-header:hover,
.bar-sort-header:focus {
  background: #fd0;
}

/* Add a top bar on ascending sort */
.bar-sort-header[aria-sort="ascending"] {
  box-shadow: inset 0 0.188rem 0 0 #1d70b8;
}

/* Add a bottom bar on descending sort */
.bar-sort-header[aria-sort="descending"] {
  box-shadow: inset 0 -0.188rem 0 0 #1d70b8;
}

/* Add an animation when toggling between ascending and descending sort */
.bar-sort-header {
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Table row highlighting -------------------------------------------------- */
.rt-tr-highlight:hover {
    background-color: #fd0;
}
@media screen and (min-width: 1440px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.188rem !important;  /* Slightly larger font size for large monitors */
  }
}

@media screen and (min-width: 1240px) {
  .bslib-sidebar-layout .sidebar-title {
    font-size: 1.1rem !important;  /* Slightly larger font size for large laptops */
  }
}

/* Media query for laptop screens (1024px or smaller) */
@media screen and (max-width: 1024px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.9rem !important; /* Slightly smaller font size for laptops */
  }
}

/* Media query for tablet-sized screens (768px or smaller) */
@media screen and (max-width: 768px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.8rem !important; /* Smaller font size for tablets */
  }
}

/* Media query for small screens (480px or smaller) */
@media screen and (max-width: 480px) {
  .reactable,
  .bslib-sidebar-layout > .sidebar > .sidebar-content label,
  .selectize-control.multi .selectize-input.has-items {
    font-size: 0.7rem !important; /* Even smaller font size for mobile */
  }
}

/* selectize dropdown options */
.selectize-input {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.188rem;
  color: #000000;
}

/* dropdowns CSS ----------------------------------------------------------- */
.selectize-input:hover,
.selectize-input:active,
.selectize-input:focus {
  box-shadow: inset 0 -0.188rem 0 0 #1d70b8;
}


/* Change focus border color to yellow */
.selectize-input.focus {
    border-color: #fd0 !important;
    box-shadow: 0 0 0.313rem #fd0 !important;
}


/* Change focus color to bright yellow */
.selectize-dropdown-content .option:hover,
.selectize-dropdown-content .option:focus,
.selectize-dropdown-content .option.active {
    background-color: #fd0 !important;
    color: black !important;
}