@font-face {
  font-family:"GDS Transport";
  src:url("/fonts/light-94a07e06a1-v2.woff2")
  format("woff2"),
  url("/assets/fonts/light-f591b13f7d-v2.woff")
  format("woff");
  font-weight:normal;
  font-style:normal;
  font-display:fallback
}

@font-face {
  font-family:"GDS Transport";
  src:url("/fonts/bold-b542beb274-v2.woff2")
  format("woff2"),url("/assets/fonts/bold-affa96571d-v2.woff")
  format("woff");
  font-weight:bold;
  font-style:normal;
  font-display:fallback
}

a {
  	color: #1d70b8;
}

a:hover {
  color:	#003078;
}

a:visited {
  color: #4c2c92;
}


html {
  background-color: #f3f2f1;
}

a {
  color: 	#1d70b8;
  text-decoration: underline
}

a:hover {
  color: 	#003078;
  text-decoration: underline
}

a:visited {
  color: 	#4c2c92;
  text-decoration: underline
}

a:active {
  color: 	#0b0c0c;
  text-decoration: underline
}


.container-fluid {
  padding: 0px;
}

.row {
  margin-right: 0px;
}

.nav-pills > li.active > a {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  line-height: 1.1428571429;
  background-color: #f3f2f1 !important;
  color: #1d70b8;
  font-size: 15px;
  border-color: #1d70b8;
  text-decoration: none
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #1d70b8 !important;
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
   border-color: #1d70b8;
}

.nav-pills > li > a {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  line-height: 1.1428571429;
  font-size: 15px;
  padding: 10px;
  border-left: 4px solid transparent;
  text-decoration: none
}

/* Tabs layout styling */

.nav-tabs > li > a {
  text-decoration: none
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  position: relative;
  margin-top: -5px;
  margin-bottom: -1px;
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  border: 1px solid #b1b4b6;
  border-bottom: 0;
  background-color: #fff;
  text-decoration: none
}

.well {
    min-height: 90vh;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #1d70b8;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    color: #fff;
}


/* Full screen plots */
/* Adapted from https://stackoverflow.com/questions/69042546/is-there-a-way-to-create-a-full-screen-popup-window-of-a-plotly-chart-in-r */
.plot-zoom {
    position: absolute;
    border: none;
    background-color: transparent;
    bottom: 0;
    right: 0;

}

.full-screen {
    position: fixed;
    height: 99vh !important;
    width: 99vw !important;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: hidden;
}


.small-box.bg-purple {
    background-color: 	#801650 !important;
    color: #ffffff;
}

.small-box.bg-white {
    background-color: 	#ffffff !important;
    color: #000000;
}


.small-box.bg-blue{
     background-color: #1d70b8 !important; 
     color: #ffffff;
     padding: 120px
     margin:10px;
}

.small-box.bg-orange{
     background-color: #F46A25 !important; 
     color: #ffffff;
}

.small-box.bg-red{
     background-color: #f499be !important; 
     color: #ffffff;
}

.small-box.bg-green{
     background-color: 	#00703c !important; 
     color: #ffffff;
}

.small-box.bg-dark-blue{
     background-color: 	#12436D !important; 
     color: #ffffff;
}

#ss-connect-dialog { display: none !important; }
#shiny-disconnected-overlay { display: none !important; }
        
#ss-overlay {
             background-color: #000000 !important;
             opacity: 0.6 !important;
             position: fixed !important;
             top: 0 !important;
             left: 0 !important;
             bottom: 0 !important;
             right: 0 !important;
             z-index: 99998 !important;
             overflow: hidden !important;
             cursor: not-allowed !important;
          }
          
#custom-disconnect-dialog {
             background: #000000 !important;
             color: #FFFFFF !important;
             width: full !important;
             transform: translateX(-50%) translateY(-50%) !important;
             font-size: 16px !important;
             top: 50% !important;
             position: fixed !important;
             bottom: auto !important;
             left: 50% !important;
             padding: 0.8em 1.5em !important;
             text-align: center !important;
             height: auto !important;
             opacity: 1 !important;
             z-index: 99999 !important;
             border-radius: 3px !important;
             box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px !important;
          }

.govuk-width-container {
    width: 100% !important;
    max-width: 100% !important;
}

.govuk-header__content,
.govuk-header__logo {
    box-sizing: border-box
}

.govuk-header__logo {
    margin-bottom: 10px;
    padding-right: 50px
}

@media (min-width:40.0625em) {
    .govuk-header__logo {
        margin-bottom: 10px
    }
}

@media (min-width:48.0625em) {
    .govuk-header__logo {
  width: 15% !important;
  margin-left: 15px !important;
        padding-right: 15px !important;
        float: left !important;
        vertical-align: top !important;
    }
}

@media (min-width:48.0625em) {
    .govuk-header__content {
  width: 64% !important;
  text-align: center !important;
        padding-left: 15px !important;
        float: left !important;
        vertical-align: top !important;
    }
}

#vboxhead {
  text-align: left;
  font-weight: bold;
  font-size: 56px;
}

#vboxdetail {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
