
.skin-blue .main-header .navbar {
    background-color: #0b0c0c;
}

.navbar-default {
    background-color: #0b0c0c;
    border-color: #0b0c0c;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.navbar-default .navbar-nav>li>a {
    color: 	#ffffff;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
     font-size: 18px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color:	#505a5f;
     font-size: 18px;
}

.well {
    min-height: 90vh; 
    padding: 19px;
    margin-bottom: 20px;
    background-color: #1d70b8;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    color: #fff;
}

body {
   font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
   font-size: 14px;
   background-color: #ffffff
}


.control-label{
  color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: bold;
}

.govuk-notification-banner__content>* {
    box-sizing: border-box;
    max-width: 6000px; !important
}


.small-box.bg-purple {
    background-color: 	#801650 !important;
    color: #ffffff;
}

.small-box.bg-blue{
     background-color: #12436D !important; 
     color: #ffffff;
}

.small-box.bg-orange{
     background-color: #F46A25 !important; 
     color: #ffffff;
}

.small-box.bg-red{
     background-color: #f499be !important; 
     color: #ffffff;
}

.small-box.bg-green{
     background-color: 	#00703c !important; 
     color: #ffffff;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #5694ca;
}

a {
    color: #1d70b8;
}

.help-block{
  color: #ffffff;
}

.govuk-inset-text{
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}

.govuk-details{
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}